<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>
        <h1>Book Wishlist</h1>
    </div>

    <div>
        <form action="summary" method="post">
            <input type="tel" placeholder = "Title of the book" name="bookTitle" id="bookTitle" required>
            <textarea placeholder = "comments" name ="comments" id="comments" required></textarea>
            <select name="rating" id="rating" required>
                <option value="one" name = "star">ONE</option>
                <option value="two" name = "star">TWO</option>
                <option value="three" name = "star">THREE</option>
                <option value="four" name = "star">FOUR</option>
                <option value="five" name = "star">FIVE</option>
            </select>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</body>
</html>