<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>
        <h1>Summary</h1>
    </div>

    <div id = "content">
        <form action="/" method="post">
            <% for( let index = 0; index < memoryStored.length; index++ ) { %>
                <p>Title <%= memoryStored[index].bookTitle %> </p>
                <p>comments <%= memoryStored[index].comments %></p>
                <p>rating <%= memoryStored[index].rating %></p>
            <% } %>
            <button type="submit">Add another</button>
        </form>
    </div>
</body>
</html>